<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <style type="text/css">
        .my_style {
            
        }
        </style>
        <title>{{ user_data.name }}'s Homepage</title>
    </head>
    <body>
        <p> name:{{ user_data.name }} </p>
        <p> email:{{ user_data.email }} </p>
         <article>
             {% for user in users %}
             <div>
                 <p> User name: {{ user.name }} </p>
                 <p> Password hash: {{ user.pwd_hash }} </p>
             </div>
             {% endfor %}
        </article>
    </body>
</html>
